.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  position: absolute;
  top: 10px;
  background: linear-gradient(to right, #e50914 0%, #e50914 var(--progress, 0%), #d3d3d3 var(--progress, 0%), #d3d3d3 100%);
  background-color: rgba(151, 151, 151, 0.396);
}

 .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  margin-top: -1px;
}

.slider:focus {
  outline: none;
  box-shadow: none;
}

/*.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e50914;
  cursor: pointer;
}

.slider::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #e50914;
}


.slider::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
} */
